doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MNTN | Landing Page
  body
    include pug/components/header.pug
    
    main
      include pug/components/content.pug

    include pug/components/footer.pug
